<body bgcolor=green>
<h2 align=center>Авторизация</h2>

<form align=center method="POST"> {% csrf_token %}
{{suсcess}}

<br /><br />
<label>
Логин:<br />
<input name="login"
value="введите логин" />
</label><br /><br />
 
<label>
Пароль: <br />
<input name="password"
value="введите пароль" />
</label><br /><br />

<input type="submit" value="Войти" />
</form>

<form align=center  action="http: //127.0.0.1:8000/reg" method="GET">
<input type="submit" value="К окну регистрации:" />

<form align=center  action="http: //127.0.0.1:8000/main" method="GET">
{% if auth_f == True %}
<input type="submit" value="Войти:" />
{% endif %}

</form>
</body>