<h2> align=center Форма для заполнения журнала</h2>
	<form align=center method="POST"> {% csrf_token %}
	<h3>Открыть сделку</h3>
	
<label>
	Название акции:<br />
	<input name="secur_name"
	value="" />
	</label><br />
<label>
Цена акции на момент покупки:<br />
<input name="price_open"
value="" />
</label><br />
]	<label>
Количество акций:<br />
<input name="quantity_open" value="" />
</label><br />
]	<label>
Выберите дату и время:<br />
<input type="date" name="calendar_open" value="" max="today" />
<input type="time" name="calendar_time_open" value="" max="today" />
</label><br />
<input type="submit" value="Отправить" /> 
</form>

<br/>
<form align=center method="POST"> {% csrf_token %} <h3>Закрыть сделку</h3>
Выберите номер открытой сделки <br/>
<select name = "id_trade">
{% for i in op_trade_list %}
<option>{{ i.id }}</option>
{% endfor %}
</select>
<br />
<label>
Цена ак1дии на момент продажи :<br />
<input name="price_close"
value="" />
</label><br/>
<label>
Количество акций:<br />
<input name="quantity_close"
value="" />
</label><br />
<label>
Выберите дату и время:<br />
<input type="date" name="calendar_close" value="" max="today" />
<input type="time" name="calendar_time_close" value="" max="today" />
</label><br />
<input type="submit" value="Отправить" />